*{
    box-sizing: border-box;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.card{
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(14, 3, 3, 0.2);
    transition: calc(transform 0.3s ease, box-shadow 0.3s ease);
    text-align: center;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

.card img{
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    height: 250px;
}

.card h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #00324d;
}

.card p{
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.card button{
    background: #0077ff;
    color: #fff;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 0.95rem;
    border-radius: 5px;
}

.card button:hover{
    scale: 1.1;
    border: none;
    background-color: gold;
    color: #00324d;
    text-decoration: none;
    text-transform: capitalize;
}

footer{
    margin-top: 25px;
}

@media (max-width:900px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px){
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 400px;
    }
}